.list {
  display: flex;
  list-style: none;
}

.list > .li {
  margin: 0 4px;
}

.button {
  background-color: white;
  padding: 2px 4px;
  border: 1px solid #444;
}

.button:disabled {
  border: none;
}
